log_level: debug

frontend:
  - protocol: http
    enabled: true
    match:
      - host: 127.0.0.1:8000
    destination: google
#    middlewares:
#      - auth

entryPoints:
  - protocol: http
    addr: 127.0.0.1:8000

backend:
  - name: google
    discovery:
      type: static
      url: https://cafebazaar.ir/jobs/
    protocol: http
